# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

google-services.json
GoogleService-Info.plist

/Users/Ming/Documents/dev/Github.nosync/Flutter/firebase_practice/ios/Runner/GoogleService-Info.plist
/Users/Ming/Documents/dev/Github.nosync/Flutter/firebase_practice/android/app/google-services.json