<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427001207331-5fs3153aih7r750uf894ikrmfbrb0h7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427001207331-5fs3153aih7r750uf894ikrmfbrb0h7l</string>
	<key>API_KEY</key>
	<string>AIzaSyB_sOe8cZwO6KSjHf35gdrSJgI4jDbA6A4</string>
	<key>GCM_SENDER_ID</key>
	<string>427001207331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KRMing.typitVanilla</string>
	<key>PROJECT_ID</key>
	<string>typitvanilla</string>
	<key>STORAGE_BUCKET</key>
	<string>typitvanilla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427001207331:ios:1a31deaffc66fb29e8af96</string>
</dict>
</plist>